@media (min-width:360px) and (max-width:768px){
    .app{
        width: 95% !important;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
    }
    .top-buttons{
        display: none;
    }
    .input{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .input-2{
        width: 50% !important;
    }
    .p-name{
       font-size: 1.5rem !important;
    }
    .p-info{
       font-size: 1.1rem !important;
    }
}

@media screen and  (min-width:1280px){
    .app{
        padding: 1.5rem 4rem !important;
    }
}

/* @media screen and  (max-width:520px){
    .app{
        width: 95% !important;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
    }
    .top-buttons{
        display: none;
    }
    .input{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .input-2{
        width: 50% !important;
    }
    .p-name{
       font-size: 1.5rem !important;
    }
    .p-info{
       font-size: 1.1rem !important;
    }
} */